* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  height: 100%;
}

body {
  background: $primary-background-color;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span {
  color: $primary-text-color;
}

h2 {
  font-size: 16;
  font-weight: lighter;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}
